$color-titulo: rgb(238, 234, 234);
$color-subtitulo: rgb(136, 134, 134);
$color-fondo:rgba(18, 19, 19, 0.5);
$background-image: url(../img/fondo7.jpg);
$family-font-titulos:  "Calibri", sans-serif;
$family-font-forms: "Arial", sans-serif; 
$background-button:transparent;
$color-button: whitesmoke;
$border-button: 2px solid whitesmoke;
